  .product-slider-container{
    position: relative;
    width: 89%;
    overflow: hidden;
    padding:10px 0 10px 0
  }
  .product-slides{
    position: relative;
    width:250px;
    display: flex;    
    transform: translateX(0);
    transition: transform 0.2s;
  }
  
  .product-slide{  
    background:white;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .product-slide-inner{
    display: flex;
    justify-content: center;
    align-items:center;
    width:250px!important;
  }
  
  .left,.right{
    position: absolute;
    display: flex;
    justify-content: center;
    top:0px;
    width:50px;
    height: 25px;
    cursor: pointer;
    height: 100%;
  }
  .right
  {
    right: 0px;
  }
  
  @keyframes prev{
    0%{
      left:0px;
    }
    50%{
      left:160px;
    }
    100%{
      left:0px;
    }
  }
  @keyframes next{
    0%{
      left:0px;
    }
    50%{
      left:-160px;
    }
    100%{
      left:0px;
    }
  }
  @media (min-width:768px){
      .product-slider-container{
          width:95%;
      }
  }