.slide-container{
    position: relative; 
    overflow: hidden;

}

.slides{
    display: flex;
    width: 100vw;
    height: 300px;
       
}
.slide img{
    width: 100vw;
    height: 300px;
    object-fit: cover;object-position: top;
    /*display: none;*/
    
}
.arrow{
    
    position: absolute;
    outline: none;
    top:0px;
    z-index: 4;
    opacity: 0.8;
    background: transparent;
    color:rgb(255, 157, 100);
    height: 100%;
    width: 100px;
    border: none;
    font-size:25px;
    cursor:pointer;
    transition: 0.3s;
}
.arrow:hover{
    opacity: 1;
    color:rgb(211, 82, 8);
}
.prev{
    left:0px;
}
.next{
    right:0px;
}
.fa-chevron-circle-left{
    position: absolute;
    top:calc(50% - 20px);
    left:12px;
    animation:prevanimation 1s ease forwards 2s infinite;
}
.fa-chevron-circle-right{
    position: absolute;
    top:calc(50% - 20px);
    right:12px;
    animation:nextanimation 1s ease forwards 2s infinite;
}
@keyframes prevanimation{
    0%{
        left:12px;
    }
    40%{
        left:3px;
    }
    100%{
        left:12px;
    }
}
@keyframes nextanimation{
    0%{
        right:12px;
    }
    40%{
        right:3px;
    }
    100%{
        right:12px;
    }
}

/* Decorating Slides*/
.slide-overlay{
    position: absolute;
    color:honeydew;
    display: inline-flex;
    justify-content: center;
    padding: 0px;
    z-index: 2;
    bottom:2px;
    width: 100%;
    height: 9%;
}
.scrolldown{
    position: absolute;
    text-align: center;
    bottom: 25px;
    
}
.scrolldown p{
    font-size: 17px;
    font-weight: bolder;
    background: rgba(0, 0, 0,0.5);
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    display: none;
    animation: scrollpara 1.5s ease forwards infinite;
}
.scrolldown i{
    font-size: 40px;
    position: relative;
    opacity: 0.3;
    animation: down-arrow 1.5s ease forwards infinite;
}
@keyframes down-arrow{
    0%{
        top:0px;
    }
    40%{
        top:10px;
        opacity: 1;
    }
    100%{
        top:0px
    }
}
@keyframes scrollpara{
    0%{
        opacity: 0;
    }
    40%{

        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.slide-cover{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0px;    
    width:100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0,0.2);
    align-items: center;
}
.slide-cover div{
    display: flex;
    z-index: 10;
    justify-content: center;
    text-align: center;
}
.slide-cover .title{
    font-size: 20px;
    opacity: 1;
    color:rgb(255, 255, 255);
    text-shadow: 4px 10px 3px black;
    background: rgba(0, 0, 0,0.4);
    width: 82%;
    padding:10px 0 10px 0;
    position: relative;
    top:-30px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.slide-cover .offer{
    font-size: 15px;
    color:white;
    word-spacing: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
}

.offer-value{
    font-size: 20px;
    margin: 0px 5px 0px 5px;
    font-weight: bold;
    position: relative;
    top:-5px;
}
.slide-cover .offerbtn{
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    outline: none;
    border:none;
    background-color: rgb(0, 221, 221);
    color:white;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor:pointer;
}
.slide-cover .offerbtn:hover{
    background-color: rgb(3, 143, 143);
}


.play-slide-btn{
    position: absolute;
    display: flex;
    bottom:0px;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    padding: 10px;
}

.play-slide-btn div{
    width: 12px;
    height: 12px;
    border: 2px solid  #d86b05;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    z-index: 5;
    transition: 0.5s;

}

@media (min-width:975px){
    .slide img{
        height: 85vh;
    }
    .slides{
        height: 85vh;
    }
    .arrow{
        font-size: 50px;
    }
    .fa-chevron-circle-left{
        top:calc(50% -35px)
    }
   .scrolldown p{
       display: block;
   }
   .slide-cover{
        height: 85vh;   
    }
    .slide-cover .title{
        font-size: 2.5em;
        top: -60px;
    }
    .slide-cover .offer{
        position: relative;
        top:-40px;
        font-size: 1.5em;
        font-weight: normal;
    }
    .offer-value{
        font-size: 2.5em;
        top: -34px;
        font-weight: normal;
    }
    .slide-cover .offerbtn{
        position: relative;
        top:-40px;
        font-size: 0.9em;
        padding: 12px;
        font-weight: normal;
    }
}

