{% extends 'base.html'%}
{% load static%}

{% block content%}

<input type="hidden" value="about" id="page">
	<div class="main-part">
		<h1 style="border-bottom:2px solid orange">About</h1>
	</div>
	<div class="main-part" style="margin-bottom: 2em;padding: 10px;">
		If there's a business that knows how to speak their customers' language, it's Centaur Guitar. This rock and roll shop opens their About Us page with the bold statement, "Different. Just like You," and delivers on that promise. From recounting the founders' days playing midnight rock shows, to calling out their guitar megastore competitors, the content on and tone of this page is down-to-earth, no frills and no-nonsense, just like their business.
		Although ecommerce has some incredible benefits, like convenience, efficiency and ease of access, two areas it doesn't naturally excel are warmth and personability. Thankfully, online stores can still match the personal touch of the best brick and mortar stores by doing one thing: telling their stories
	</div>
{% endblock%}
