{% block filters%}
<div class="filter-wrapper">
        <div class="filters">
          <div class="filter-btn-wrapper">
            <div class="filter-btn">
              <button id="priceRange"><span>price range <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="foodPreference"><span>food-preference <i class="fa fa-sort-desc"
                    aria-hidden="true"></i></span></button>
              <button id="discount"><span>Discounts <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="cuisine"><span>cuisine <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <form class="filterForm">
            <div class="filter-search-box">
              <h4>Search Here..</h4>
              <div class="search-box" style="display: flex;justify-content: space-between;">
                <input type="text" placeholder="Search Product" style="width:inherit"/>
                <a class="btn" href="https://www.youtube.com/channel/UCE4Jb1rzItKKMyJDLyit2Pg" style="background: white;color: rgb(206, 75, 0);">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="priceRange">
              <h4>price-range</h4>
              <div class="price-slider-wrapper">
                <div class="selected-range">
                  $<span class="min-price">0</span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;
                  $<span class="max-price">6000</span>
                </div>
                <div class="priceSlider">
                </div>
                <div class="priceSliderBackground">
                </div>
                <div class="thumb1">
                </div>
                <div class="thumb2">
                </div>
              </div>
            </div>
            <div class="foodPreference">
              <h4>food-preference</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>Vegeterian</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Non-Vegeterian</span>
              </div>
            </div>
            <div class="discount">
              <h4>discount</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>5% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>10% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>20% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>30% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>40% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>50% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>60% or More</span>
              </div>
            </div>
            <div class="cuisine">
              <h4>cuisine</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>South India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bangal</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Gujrat</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bihar</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>North India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Chennai</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Maharastra</span>
              </div>
            </div>
            <button class="filtersubmit">done</button>
          </form>
        </div>
      </div>
  {%endblock%}