{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>SuperGrocery</title>
</head>

<body>
  <div class="wrapper">
    <div class="toplabel">
      <h4>Grocery Offer Zone Top Deals & Discounts</h4>
    </div>
    <nav>
      <ul class="nav-wrapper">
        <li class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </li>
        <li class="brand">
          <span><span style="color: rgb(238, 121, 11)">S</span>uper<span
              style="color: rgb(238, 121, 11)">G</span>rocery</span>
        </li>
        <div class="nav-links">
          <h3 class="nav-header">Menu Links</h3>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Product Category</a>
            <ul class="dropdown">
              <li class="dropdown-link"><a href="#">Category 1</a></li>
              <li class="dropdown-link"><a href="#">Category 2sdff</a></li>
              <li class="dropdown-link"><a href="#">Category 3</a></li>
            </ul>
          </li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Log In</a></li>
        </div>

        <li class="search-box">

          <input type="text" placeholder="Search Product" />
          <a class="btn" href="https://www.youtube.com/channel/UCE4Jb1rzItKKMyJDLyit2Pg">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>

        </li>
        <li class="cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </li>
      </ul>
    </nav>
    <div class="slide-container">
      <div class="slides">
        <div class="slide">
          <img src="{% static 'images/slide-4.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                Big <span style="color:rgb(255, 123, 0);">Save</span>
              </h1>
            </div>
            <div class="offer">
              Get flat <span class="offer-value">10%</span> cashback
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>
        <div class="slide">
          <img src="{% static 'images/slide-1.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                healthy <span style="color:rgb(255, 123, 0);">Saving</span>
              </h1>
            </div>
            <div class="offer">
              Get <span class="offer-value">30%</span> off
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>
        <div class="slide">
          <img src="{% static 'images/slide-3.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                Big <span style="color:rgb(255, 123, 0);">deal</span>
              </h1>
            </div>
            <div class="offer">
              Get best offer upto <span class="offer-value">10%</span>
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>

        <div class="slide">
          <img src="{% static 'images/slide-2.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                today's <span style="color:rgb(255, 123, 0);">Discount</span>
              </h1>
            </div>
            <div class="offer">
              get now <span class="offer-value">40%</span>Discounts
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>
      </div>
      <div class="slide-controls">
        <button class="arrow prev" id="prevBtn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
        <button class="arrow next" id="nextBtn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
      </div>
      <div class="slide-overlay">
        <div class="scrolldown">
          <p>
            Scroll Down For More
          </p>
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </div>

      <div class="play-slide-btn">

      </div>
    </div>
    <div class="main-heading">
      <h1>our top product</h1>
    </div>
    <div class="main-part" id="mainPart">
      <div class="filter-wrapper">
        <div class="filters">
          <div class="filter-btn-wrapper">
            <div class="filter-btn">
              <button id="priceRange"><span>price range <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="foodPreference"><span>food-preference <i class="fa fa-sort-desc"
                    aria-hidden="true"></i></span></button>
              <button id="discount"><span>Discounts <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="cuisine"><span>cuisine <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <form class="filterForm">
            <div class="filter-search-box">
              <h4>Search Here..</h4>
              <div class="search-box" style="display: flex;justify-content: space-between;">
                <input type="text" placeholder="Search Product" style="width:inherit"/>
                <a class="btn" href="https://www.youtube.com/channel/UCE4Jb1rzItKKMyJDLyit2Pg" style="background: white;color: rgb(206, 75, 0);">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="priceRange">
              <h4>price-range</h4>
              <div class="price-slider-wrapper">
                <div class="selected-range">
                  $<span class="min-price">0</span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;
                  $<span class="max-price">6000</span>
                </div>
                <div class="priceSlider">
                </div>
                <div class="priceSliderBackground">
                </div>
                <div class="thumb1">
                </div>
                <div class="thumb2">
                </div>
              </div>
            </div>
            <div class="foodPreference">
              <h4>food-preference</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>Vegeterian</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Non-Vegeterian</span>
              </div>
            </div>
            <div class="discount">
              <h4>discount</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>5% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>10% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>20% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>30% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>40% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>50% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>60% or More</span>
              </div>
            </div>
            <div class="cuisine">
              <h4>cuisine</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>South India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bangal</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Gujrat</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bihar</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>North India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Chennai</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Maharastra</span>
              </div>
            </div>
            <button class="filtersubmit">done</button>
          </form>
        </div>
      </div>
      
      <div class="top-product">
        <div class="featured-product-list">
          <div class="category">
            <h2>Nuts</h2>
          </div>
          <div class="product-slider-container" id="product-slider1">
            <div class="product-slides">
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/almonds.jpeg'%}" />
                      <p class="title">
                        Almonds
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Almonds, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $149.00
                      </span>
                      <span class="actual-rate">
                        $280.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/cashew.jpeg'%}" />
                      <p class="title">
                        Cashews
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>              
                    </div>
                    <h4>
                      Cashew, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $420.00
                      </span>
                      <span class="actual-rate">
                        $200.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/pista.jpeg'%}" />
                      <p class="title">
                        Pistachios
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Pistachios, 200g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $600.09
                      </span>
                      <span class="actual-rate">
                        $520.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                      <p class="title">
                        Almonds
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Almonds, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $149.00
                      </span>
                      <span class="actual-rate">
                        $280.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div> 
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                      <p class="title">
                        Almonds
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Almonds, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $149.00
                      </span>
                      <span class="actual-rate">
                        $280.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div> 
                </div>
              </div>
            </div>
            <div class="left">
              <button class="arrow prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
            </div>
            <div class="right">
              <button class="arrow next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
            </div>      
          </div>
        </div>
        <div class="mega-offer">
          <div class="mega-offer-slogan">
            <h1>Pure Energy</h1>  
            <h4>Enjoy our all healthy Products</h4>
            <h4>Get Extra 10% Off</h4>
          </div>
          <div class="mega-offer-image">
            <img src="{% static 'images/MegaOffer.jpg'%}"/>
          </div>
        </div>
        <div class="featured-product-list">
          <div class="category">
            <h2>Nuts</h2>
          </div>
          <div class="product-slider-container" id="product-slider2">
            <div class="product-slides">
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/almonds.jpeg'%}" />
                      <p class="title">
                        Almonds
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Almonds, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $149.00
                      </span>
                      <span class="actual-rate">
                        $280.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/cashew.jpeg'%}" />
                      <p class="title">
                        Cashews
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>              
                    </div>
                    <h4>
                      Cashew, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $420.00
                      </span>
                      <span class="actual-rate">
                        $200.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/pista.jpeg'%}" />
                      <p class="title">
                        Pistachios
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Pistachios, 200g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $600.09
                      </span>
                      <span class="actual-rate">
                        $520.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                      <p class="title">
                        Almonds
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Almonds, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $149.00
                      </span>
                      <span class="actual-rate">
                        $280.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div> 
                </div>
              </div>
              <div class="product-slide">
                <div class="product-slide-inner">
                  <div class="product">
                    <div class="image">
                      <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                      <p class="title">
                        Almonds
                      </p>
                      <div class="quick-view-wrapper">
                        <div class="quick-view btn">
                          Quick View
                        </div>
                      </div>
                      <div class="badge">
                        <span>New</span>
                      </div>
                    </div>
                    <h4>
                      Almonds, 100g
                    </h4>
                    <p class="rate">
                      <span class="discount-rate">
                        $149.00
                      </span>
                      <span class="actual-rate">
                        $280.00
                      </span>
                    </p>
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div> 
                </div>
              </div>
            </div>
            <div class="left">
              <button class="arrow prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
            </div>
            <div class="right">
              <button class="arrow next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
            </div>      
          </div>
        </div>
        <!-- <div class="featured-product-list">
          <div class="category">
            <h2>Oils</h2>
          </div>
          <div class="product">
            <div class="image">
              <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;/>
              <p class="title">
                Almonds
              </p>
              <div class="quick-view-wrapper">
                <div class="quick-view btn">
                  Quick View
                </div>
              </div>
              <div class="badge">
                <span>New</span>
              </div>
            </div>
            <h4>
              Almonds, 100g
            </h4>
            <p class="rate">
              <span class="discount-rate">
                $149.00
              </span>
              <span class="actual-rate">
                $280.00
              </span>
            </p>
            <button class="add-to-cart btn">
              <span>Add To Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="image">
              <img src="{% static 'images/oil2.jpeg'%}" style="object-fit: none;/>
              <p class="title">
                Cashews
              </p>
              <div class="quick-view-wrapper">
                <div class="quick-view btn">
                  Quick View
                </div>
              </div>
              <div class="badge">
                <span>New</span>
              </div>              
            </div>
            <h4>
              Cashew, 100g
            </h4>
            <p class="rate">
              <span class="discount-rate">
                $420.00
              </span>
              <span class="actual-rate">
                $200.00
              </span>
            </p>
            <button class="add-to-cart btn">
              <span>Add To Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="image">
              <img src="{% static 'images/oil3.jpeg'%}" style="object-fit: none;"/>
              <p class="title">
                Pistachios
              </p>
              <div class="quick-view-wrapper">
                <div class="quick-view btn">
                  Quick View
                </div>
              </div>
              <div class="badge">
                <span>New</span>
              </div>
            </div>
            <h4>
              Pistachios, 200g
            </h4>
            <p class="rate">
              <span class="discount-rate">
                $600.09
              </span>
              <span class="actual-rate">
                $520.00
              </span>
            </p>
            <button class="add-to-cart btn">
              <span>Add To Cart</span>
            </button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="main-heading ">
      <h1>Special Offers</h1>
    </div>
    <div class="main-part">
      <div class="featured-product-list">
        <div class="product-slider-container" id="product-slider3">
          <div class="product-slides">
            <div class="product-slide">
              <div class="product-slide-inner">
                <div class="product">
                  <div class="image">
                    <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                    <p class="title">
                      Almonds
                    </p>
                    <div class="quick-view-wrapper">
                      <div class="quick-view btn">
                        Quick View
                      </div>
                    </div>
                    <div class="badge">
                      <span>New</span>
                    </div>
                  </div>
                  <h4>
                    Almonds, 100g
                  </h4>
                  <p class="rate">
                    <span class="discount-rate">
                      $149.00
                    </span>
                    <span class="actual-rate">
                      $280.00
                    </span>
                  </p>
                  <button class="add-to-cart btn">
                    <span>Add To Cart</span>
                  </button>
                </div>  
              </div>
            </div>
            <div class="product-slide">
              <div class="product-slide-inner">
                <div class="product">
                  <div class="image">
                    <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                    <p class="title">
                      Almonds
                    </p>
                    <div class="quick-view-wrapper">
                      <div class="quick-view btn">
                        Quick View
                      </div>
                    </div>
                    <div class="badge">
                      <span>New</span>
                    </div>
                  </div>
                  <h4>
                    Almonds, 100g
                  </h4>
                  <p class="rate">
                    <span class="discount-rate">
                      $149.00
                    </span>
                    <span class="actual-rate">
                      $280.00
                    </span>
                  </p>
                  <button class="add-to-cart btn">
                    <span>Add To Cart</span>
                  </button>
                </div> 
              </div>
            </div>
            <div class="product-slide">
              <div class="product-slide-inner">
                <div class="product">
                  <div class="image">
                    <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                    <p class="title">
                      Almonds
                    </p>
                    <div class="quick-view-wrapper">
                      <div class="quick-view btn">
                        Quick View
                      </div>
                    </div>
                    <div class="badge">
                      <span>New</span>
                    </div>
                  </div>
                  <h4>
                    Almonds, 100g
                  </h4>
                  <p class="rate">
                    <span class="discount-rate">
                      $149.00
                    </span>
                    <span class="actual-rate">
                      $280.00
                    </span>
                  </p>
                  <button class="add-to-cart btn">
                    <span>Add To Cart</span>
                  </button>
                </div> 
              </div>
            </div>
            <div class="product-slide">
              <div class="product-slide-inner">
                <div class="product">
                  <div class="image">
                    <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                    <p class="title">
                      Almonds
                    </p>
                    <div class="quick-view-wrapper">
                      <div class="quick-view btn">
                        Quick View
                      </div>
                    </div>
                    <div class="badge">
                      <span>New</span>
                    </div>
                  </div>
                  <h4>
                    Almonds, 100g
                  </h4>
                  <p class="rate">
                    <span class="discount-rate">
                      $149.00
                    </span>
                    <span class="actual-rate">
                      $280.00
                    </span>
                  </p>
                  <button class="add-to-cart btn">
                    <span>Add To Cart</span>
                  </button>
                </div> 
              </div>
            </div>
            <div class="product-slide">
              <div class="product-slide-inner">
                <div class="product">
                  <div class="image">
                    <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;"/>
                    <p class="title">
                      Almonds
                    </p>
                    <div class="quick-view-wrapper">
                      <div class="quick-view btn">
                        Quick View
                      </div>
                    </div>
                    <div class="badge">
                      <span>New</span>
                    </div>
                  </div>
                  <h4>
                    Almonds, 100g
                  </h4>
                  <p class="rate">
                    <span class="discount-rate">
                      $149.00
                    </span>
                    <span class="actual-rate">
                      $280.00
                    </span>
                  </p>
                  <button class="add-to-cart btn">
                    <span>Add To Cart</span>
                  </button>
                </div> 
              </div>
            </div>
          </div>
          <div class="left">
            <button class="arrow prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
          </div>
          <div class="right">
            <button class="arrow next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
          </div>      
        </div>
      </div>
    </div>
    <div class="subscribe">
      <div class="email-input">
        <p class="p1">
          Get your Groceries delivered from local stores
        </p>
        <p class="p2">Free Delivery on your first order</p>
        <form>  
          <input placeholder="Enter Your Email" />
          <button class="btn"type="submit">Subscribe</button>
        </form>
        
      </div>
      <div class="image">
        <img src="{% static 'images/map.jpg'%}">
      </div>
    </div>
    <div class="main-part footer" >
      <div></div>
      <div class="description-in-footer">
        <p>
          <strong style="color:black">"SuperGrocery"</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
      </div>
      <div class="services">
        <div>
          <div class="service-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="service-name">
            <p>Track Your Order</p>
          </div>
        </div>
        <div>
          <div class="service-icon">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>
          <div class="service-name">
            <p>Free & Easy Returns</p>
          </div>
        </div>
        <div>
          <div class="service-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="service-name">
            <p>Online Cancellation</p>
          </div>
        </div>
      </div>
      <div class="shortcuts">
        <div class="categories">
          <h3>Categories</h3>
          <div>
            <ul>
              <li>Grocery</li>
              <li>Fruits</li>
              <li>Soft Drinks</li>
              <li>Diswashers</li>
              <li>Biscuits & Cookies</li>
              <li>Baby Diapers</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Snacks & Beverages</li>
              <li>Breads & Bakery</li>
              <li>Sweets</li>
              <li>Chocolate & Biscuits</li>
              <li>personal Care</li>
              <li>Dried Fruits and Nuts</li>
            </ul> 
          </div>
        </div>
        <div class="quick-links">
          <div class="links">
            <h3>Quick Links</h3>
            <ul>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Help</li>
              <li>Faqs</li>
              <li>Terms of use</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="get-in-touch">
            <h3>Get in Touch</h3>
            <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Delhi</li>
              <li><i class="fa fa-mobile" aria-hidden="true"></i> XXXXXXXXX</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> +XXXX XX XXXX</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i> main@example.com</li>
            </ul>
          </div>
        </div>
        <div class="social-media">
          <h3>Follow Us</h3>
          <div class="social-media-icon">
            <div style="background:#3b5998">
              <i class="fa fa-facebook-f"></i>
            </div>
            <div style="background:#1DA1F2;">
              <i class="fa fa-twitter" aria-hidden="true"></i>  
            </div>
            <div style="background:#DB4A39;">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="description-in-footer">
        <h3>Online Grocery shopping</h3>
        <p>
          Order online. All your favourite products from the low price online supermarket for grocery home delivery in Delhi, Gurgaon, Bengaluru, Mumbai and other cities in India. Lowest prices guaranteed on Patanjali, Aashirvaad, Pampers, Maggi, Saffola, Huggies, Fortune, Nestle, Amul, MamyPoko Pants, Surf Excel, Ariel, Vim, Haldiram's and others.
        </p>
      </div>
      <div class="description-in-footer">
        <h3>Shop online with the best deals & offers</h3>
        <p>
          Now Get Upto 40% Off On Everyday Essential Products Shown On The Offer Page. The range includes Grocery, Personal Care, Baby Care, Pet Supplies, Healthcare and Other Daily Need Products. Discount May Vary From Product To Product.
        </p>
      </div>
      <div class="description-in-footer">
        <h3>Popular Brands</h3>
        <p>
          Aashirvaad Amul Bingo Boost Durex Maggi Glucon-D Horlicks Head & Shoulders Dove Dettol Dabur Colgate Coca-Cola Closeup Cinthol Cadbury Bru Bournvita Tang Pears Oreo Taj Mahal Sprite Thums Up Fair & Lovely Lakme Tata Sunfeast Sunsilk Patanjali MTR Kissan Lipton
        </p>
      </div>
      <div class="description-in-footer">
        <h3>Payment Method</h3>
        <p>
          <img src="{%static 'images/mastercard.png'%}"/>
          <img src="{%static 'images/visa.png'%}"/>
          <img src="{%static 'images/discover.png'%}"/>
          <img src="{%static 'images/american.png'%}" style="width:80px"/>
          <img src="{%static 'images/maestro.png'%}"/>
          <img src="{%static 'images/netbanking.png'%}"  style="width:120px"/>
          <img src="{%static 'images/cashondelivery.png'%}"/>
        </p>
      </div>
    </div>
    <footer>
        &copy;This webpage is created by Rejaul Ali.
        All  rights are Reserved
    </footer>
    <script type="module" src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slider.js'%}"></script>
    <script src="{% static 'js/priceSlider.js'%}"></script>
</body>

</html>