{% extends 'base.html' %}
{%load static%}


{% block content %}

    <div class="slide-container">
      <div class="slides">
        <div class="slide">
          <img src="{% static 'images/slide-4.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                Big <span style="color:rgb(255, 123, 0);">Save</span>
              </h1>
            </div>
            <div class="offer">
              Get flat <span class="offer-value">10%</span> cashback
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>
        <div class="slide">
          <img src="{% static 'images/slide-1.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                healthy <span style="color:rgb(255, 123, 0);">Saving</span>
              </h1>
            </div>
            <div class="offer">
              Get <span class="offer-value">30%</span> off
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>
        <div class="slide">
          <img src="{% static 'images/slide-3.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                Big <span style="color:rgb(255, 123, 0);">deal</span>
              </h1>
            </div>
            <div class="offer">
              Get best offer upto <span class="offer-value">10%</span>
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>

        <div class="slide">
          <img src="{% static 'images/slide-2.jpg'%}" />
          <div class="slide-cover">
            <div class="title">
              <h1>
                today's <span style="color:rgb(255, 123, 0);">Discount</span>
              </h1>
            </div>
            <div class="offer">
              get now <span class="offer-value">40%</span>Discounts
            </div>
            <button class="offerbtn">
              <span>Shop now</span>
          </div>
          </button>
        </div>
      </div>
      <div class="slide-controls">
        <button class="arrow prev" id="prevBtn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
        <button class="arrow next" id="nextBtn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
      </div>
      <div class="slide-overlay">
        <div class="scrolldown">
          <p>
            Scroll Down For More
          </p>
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </div>

      <div class="play-slide-btn">

      </div>
    </div>
    <div class="main-heading">
      <h1>our top product</h1>
    </div>
    <div class="main-part" id="mainPart">
      <div class="filter-wrapper">
        <div class="filters">
          <div class="filter-btn-wrapper">
            <div class="filter-btn">
              <button id="priceRange"><span>price range <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="foodPreference"><span>food-preference <i class="fa fa-sort-desc"
                    aria-hidden="true"></i></span></button>
              <button id="discount"><span>Discounts <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="cuisine"><span>cuisine <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <form class="filterForm">
            <div class="filter-search-box">
              <h4>Search Here..</h4>
              <div class="search-box" style="display: flex;justify-content: space-between;">
                <input type="text" placeholder="Search Product" style="width:inherit"/>
                <a class="btn" href="https://www.youtube.com/channel/UCE4Jb1rzItKKMyJDLyit2Pg" style="background: white;color: rgb(206, 75, 0);">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="priceRange">
              <h4>price-range</h4>
              <div class="price-slider-wrapper">
                <div class="selected-range">
                  $<span class="min-price">0</span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;
                  $<span class="max-price">6000</span>
                </div>
                <div class="priceSlider">
                </div>
                <div class="priceSliderBackground">
                </div>
                <div class="thumb1">
                </div>
                <div class="thumb2">
                </div>
              </div>
            </div>
            <div class="foodPreference">
              <h4>food-preference</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>Vegeterian</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Non-Vegeterian</span>
              </div>
            </div>
            <div class="discount">
              <h4>discount</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>5% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>10% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>20% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>30% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>40% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>50% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>60% or More</span>
              </div>
            </div>
            <div class="cuisine">
              <h4>cuisine</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>South India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bangal</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Gujrat</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bihar</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>North India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Chennai</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Maharastra</span>
              </div>
            </div>
            <button class="filtersubmit">done</button>
          </form>
        </div>
      </div>
      
      <div class="top-product">
        <div class="featured-product-list">
          <div class="category">
            <h2>Nuts</h2>
          </div>
          <div class="product-slider-container" id="product-slider1">
            <div class="product-slides">
            {% for item in product%}
              {%if item.category == "nuts"%}
                <div class="product-slide">
                  <div class="product-slide-inner">
                    <div class="product" >
                      <div class="image">
                        <img src="/media/{{item.image}}" style="object-fit: none;"/>
                        <p class="title"> 
                          {{item.name}}                     
                        </p>
                        <div class="quick-view-wrapper">
                          <a href="/product/{{item.id}}">
                            <div class="quick-view btn">
                              Quick View
                            </div>  
                          </a>                          
                        </div>
                        <div class="badge">
                          <span>New</span>
                        </div>
                      </div>
                      <h4>
                        {{item.name}}, {{item.quantity}}g
                      </h4>
                      <p class="rate">
                        <span class="discount-rate">
                          ${{item.discount_price}}
                        </span>
                        <span class="actual-rate">
                          ${{item.actual_price}}
                        </span>
                      </p>
                      <div class="add-to-cart-container">
                        <button class="add-to-cart btn">
                          <span>Add To Cart</span>
                        </button>
                      </div>
                    </div>  
                  </div>
                </div>
              {%endif%}
            {% endfor%}
            </div>
            <div class="left">
              <button class="arrow prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
            </div>
            <div class="right">
              <button class="arrow next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
            </div>      
          </div>
        </div>
        <div class="mega-offer">
          <div class="mega-offer-slogan">
            <h1>Pure Energy</h1>  
            <h4>Enjoy our all healthy Products</h4>
            <h4>Get Extra 10% Off</h4>
          </div>
          <div class="mega-offer-image">
            <img src="{% static 'images/MegaOffer.jpg'%}"/>
          </div>
        </div>
        <div class="featured-product-list">
          <div class="category">
            <h2>oils</h2>
          </div>
          <div class="product-slider-container" id="product-slider2">
            <div class="product-slides">
            {% for item in product%}
              {%if item.category == "oil"%}
                <div class="product-slide">
                  <div class="product-slide-inner">
                    <div class="product">
                      <div class="image">
                        <img src="/media/{{item.image}}" style="object-fit: none;"/>
                        <p class="title"> 
                          {{item.name}}                     
                        </p>
                        <div class="quick-view-wrapper">
                          <a href="/product/{{item.id}}">
                            <div class="quick-view btn">
                              Quick View
                            </div>  
                          </a>   
                        </div>
                        <div class="badge">
                          <span>New</span>
                        </div>
                      </div>
                      <h4>
                        {{item.name}}, {{item.quantity}}g
                      </h4>
                      <p class="rate">
                        <span class="discount-rate">
                          ${{item.discount_price}}
                        </span>
                        <span class="actual-rate">
                          ${{item.actual_price}}
                        </span>
                      </p>
                      <div class="add-to-cart-container">
                        <button class="add-to-cart btn">
                          <span>Add To Cart</span>
                        </button>
                      </div>
                    </div>  
                  </div>
                </div>
              {%endif%}
            {% endfor%}
            </div>
            <div class="left">
              <button class="arrow prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
            </div>
            <div class="right">
              <button class="arrow next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
            </div>      
          </div>
        </div>
        <!-- <div class="featured-product-list">
          <div class="category">
            <h2>Oils</h2>
          </div>
          <div class="product">
            <div class="image">
              <img src="{% static 'images/oil1.jpeg'%}" style="object-fit: none;/>
              <p class="title">
                Almonds
              </p>
              <div class="quick-view-wrapper">
                <div class="quick-view btn">
                  Quick View
                </div>
              </div>
              <div class="badge">
                <span>New</span>
              </div>
            </div>
            <h4>
              Almonds, 100g
            </h4>
            <p class="rate">
              <span class="discount-rate">
                $149.00
              </span>
              <span class="actual-rate">
                $280.00
              </span>
            </p>
            <button class="add-to-cart btn">
              <span>Add To Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="image">
              <img src="{% static 'images/oil2.jpeg'%}" style="object-fit: none;/>
              <p class="title">
                Cashews
              </p>
              <div class="quick-view-wrapper">
                <div class="quick-view btn">
                  Quick View
                </div>
              </div>
              <div class="badge">
                <span>New</span>
              </div>              
            </div>
            <h4>
              Cashew, 100g
            </h4>
            <p class="rate">
              <span class="discount-rate">
                $420.00
              </span>
              <span class="actual-rate">
                $200.00
              </span>
            </p>
            <button class="add-to-cart btn">
              <span>Add To Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="image">
              <img src="{% static 'images/oil3.jpeg'%}" style="object-fit: none;"/>
              <p class="title">
                Pistachios
              </p>
              <div class="quick-view-wrapper">
                <div class="quick-view btn">
                  Quick View
                </div>
              </div>
              <div class="badge">
                <span>New</span>
              </div>
            </div>
            <h4>
              Pistachios, 200g
            </h4>
            <p class="rate">
              <span class="discount-rate">
                $600.09
              </span>
              <span class="actual-rate">
                $520.00
              </span>
            </p>
            <button class="add-to-cart btn">
              <span>Add To Cart</span>
            </button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="main-heading ">
      <h1>Special Offers</h1>
    </div>
    <div class="main-part">
      <div class="featured-product-list">
        <div class="product-slider-container" id="product-slider3">
          <div class="product-slides">
            {% for item in product%}
            <div class="product-slide">
              <div class="product-slide-inner">
                <div class="product">
                  <div class="image">
                    <img src="/media/{{item.image}}" style="object-fit: none;"/>
                    <p class="title"> 
                      {{item.name}}                     
                    </p>
                    <div class="quick-view-wrapper">
                      <a href="/product/{{item.id}}">
                            <div class="quick-view btn">
                              Quick View
                            </div>  
                      </a>   
                    </div>
                    <div class="badge">
                      <span>New</span>
                    </div>
                  </div>
                  <h4>
                    {{item.name}}, {{item.quantity}}g
                  </h4>
                  <p class="rate">
                    <span class="discount-rate">
                      ${{item.discount_price}}
                    </span>
                    <span class="actual-rate">
                      ${{item.actual_price}}
                    </span>
                  </p>
                  <div class="add-to-cart-container">
                    <button class="add-to-cart btn">
                      <span>Add To Cart</span>
                    </button>
                  </div>
                </div>  
              </div>
            </div>
            {% endfor%}
          </div>
          <div class="left">
            <button class="arrow prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
          </div>
          <div class="right">
            <button class="arrow next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
          </div>      
        </div>
      </div>
    </div>
{% endblock%}

{% block scripts%}
    <script src="{% static 'js/slider.js'%}"></script>
    <script src="{% static 'js/priceSlider.js'%}"></script>
    <script src="{% static 'js/displayFilters.js'%}"></script>
    <script src="{% static 'js/topProduct.js'%}"></script>
    <script src="{% static 'js/productSlider.js'%}"></script>
{% endblock%}
