{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" type="text/css" href = "{% static 'css/form.css'%}">
	<title>Super Grocery</title>
</head>
<body>
	<div class="wrapper">
		<h2><span><span style="color: rgb(238, 121, 11)">S</span>uper<span
              style="color: rgb(238, 121, 11)">G</span>rocery</span></h2>
		<form method="POST" action="" autocomplete="off">{% csrf_token%}
			<h3 align="center">Login</h3>
			<p>
				<div class="label">
					username
				</div>
				<input id="id_username" type="text" name="username">
			</p>
			<p>
				<div class="label">
					password
				</div>
				<input id="id_password1" type="password" name="password">
			</p>
			<input type="submit" name="Create user">	
			{% for message in messages%}
				<P class="form-footer" style="background-color: grey;">{{message}}</P>
			{%endfor%}
			<span class="form-footer">
				Don't have account? <a href="/register">Sign Up</a>
			</span>
		</form>			
	</div>	
	<script type="text/javascript">
		
		/*let username = document.querySelector('#id_username')
		let email = document.querySelector('#id_email')
		let password1 = document.querySelector('#id_password1')
		let password2 = document.querySelector('#id_password2')
		const errorhandling = ()=>{
			if(`{{form.errors.username}}`){
				username.style.borderBottom = "2px solid red"
			}
			if(`{{form.errors.email}}`){
				email.style.borderBottom = "2px solid red"
			}
			if(`{{form.errors.password2}}`){
				password2.style.borderBottom = "2px solid red"
			}
		}
		errorhandling()*/

		const login = ()=>{
			let username = document.querySelector('#id_username')
			let password1 = document.querySelector('#id_password1')
			username.placeholder = "Enter Your Name"
			password1.placeholder = "Enter password"
			}
		login()
	</script>
</body>
</html>



