{% extends "base.html" %}
{% load static%}
{% block stylesheets%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product-page.css'%}" />
{% endblock%}
{% block content%}
	<div class="main" align="center">
		<div class="product product2" style="margin:2em 0em 2em 0em">
          <div class="image product-image">
            <img src="/media/{{product.image}}" style="object-fit: none;"/>
          </div>
          <div class="product-description">
                <div class="quick-view-wrapper" style="display: none">
                  <a href="/product/{{product.id}}">
                    <div class="quick-view btn">
                      Quick View
                    </div>
                  </a>
                </div>
          		
          			<div>
          				<span class="product-col-1">Product Name : </span>
          				<h4>{{product.name}}, {{product.quantity}}g</h4>
          			</div>
          			<div>
          				<span class="product-col-1">Description : </span>
          				{{product.description}}
          			</div>
          			<div>
          				<span class="product-col-1">Price : </span>
          				<p class="rate" style="display: inline">
				            <span class="discount-rate">
				              ${{product.discount_price}}
				            </span>
				            <span class="actual-rate">
				              ${{product.actual_price}}
				            </span>
	          			</p>
          	   </div>

	          <div class="add-to-cart-container">
	            <button class="add-to-cart btn">
	              <span>Add To Cart</span>
	            </button>
	          </div>	
          </div>
    </div>
    {% if group == 'admin'%}
    <div style="margin:2em 0 2em 0">
      <a href="/product_update/{{product.id}}">
        <button class="btn" style="background: Orange">Update</button>
      </a>
      <button class="btn" id="deleteBtn" style="background: Red">Delete</button>
    </div>
    {%endif%}
	</div>
{% endblock%}


{%block scripts%}
  <script type="text/javascript">
    let deleteBtn = document.querySelector('#deleteBtn')
    deleteBtn.addEventListener('click',()=>{
      value = confirm("do you really want to delete '{{product.name}}'")
      if(value){
        window.location.href = '/product_delete/{{product.id}}'
      }
    })
  </script>
{%endblock%}