{% extends 'base.html' %}
{% load static%}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/product-search-page.css'%}" />
{% endblock%}
{% block content %}
  {% if filtered_products %}
      <div class="main-part" style="justify-content: center;">
        <h2 >Result for {{search_item}}</h2>
      </div>        
  {% endif%}
	<div class="main-part">
    <div class="filter-wrapper">
        <div class="filters">
          <div class="filter-btn-wrapper">
            <div class="filter-btn">
              <button id="priceRange"><span>price range <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="foodPreference"><span>food-preference <i class="fa fa-sort-desc"
                    aria-hidden="true"></i></span></button>
              <button id="discount"><span>Discounts <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
              <button id="cuisine"><span>cuisine <i class="fa fa-sort-desc" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <form class="filterForm" id="productSearch2">
            
            <div class="filter-search-box">
              <h4>Search Here..</h4>
              <div class="search-box" style="display: flex;justify-content: space-between;">
                <input type="text"  style="width:inherit"/>
                <a class="btn" style="background: white;color: rgb(206, 75, 0);">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="priceRange">
              <h4>price-range</h4>
              <div class="price-slider-wrapper">
                <div class="selected-range">
                  $<span class="min-price" id="minPrice">
                    {% if myfilter2.form.discount_start.value == 0 or myfilter2.form.discount_start.value == None %}
                    0
                    {%else%}
                    {{myfilter2.form.discount_start.value}}
                    {%endif%}
                  </span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;
                  $<span class="max-price" id="maxPrice">
                    {% if myfilter2.form.discount_end.value == 0 or myfilter2.form.discount_end.value == None%}
                      100
                    {%else%}
                      {{myfilter2.form.discount_end.value}}
                    {%endif%}
                  </span>
                </div>
                <div class="priceSlider">
                </div>
                <div class="priceSliderBackground">
                </div>
                <div class="thumb1">
                </div>
                <div class="thumb2">
                </div>
              </div>
            </div>
            <div class="foodPreference">
              <h4>food-preference</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>Vegeterian</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Non-Vegeterian</span>
              </div>
            </div>
            <div class="discount">
              <h4>discount</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>5% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>10% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>20% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>30% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>40% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>50% or More</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>60% or More</span>
              </div>
            </div>
            <div class="cuisine">
              <h4>cuisine</h4>
              <div class="input">
                <input type="checkbox" />&nbsp;&nbsp;<span>South India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bangal</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Gujrat</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Bihar</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>North India</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Chennai</span>
                <br>
                <input type="checkbox" />&nbsp;&nbsp;<span>Maharastra</span>
              </div>
            </div>
            <button class="filtersubmit" type="submit" id="submitFilterBtn2">done</button>
          </form>
        </div>
      </div>
    <div style="display: flex;flex-wrap: wrap;justify-content: center;">
			{% for item in filtered_products%}
             <div class="product">
                      <div class="image">
                        <img src="/media/{{item.image}}" style="object-fit: none;"/>
                        <p class="title"> 
                          {{item.name}}                     
                        </p>
                        <div class="quick-view-wrapper">
                          <a href="/product/{{item.id}}">
                            <div class="quick-view btn">
                              Quick View
                            </div>
                          </a>
                        </div>
                        <div class="badge">
                          <span>New</span>
                        </div>
                      </div>
                      <h4>
                        {{item.name}}, {{item.quantity}}g
                      </h4>
                      <p class="rate">
                        <span class="discount-rate">
                          ${{item.discount_price}}
                        </span>
                        <span class="actual-rate">
                          ${{item.actual_price}}
                        </span>
                      </p>
                      <div class="add-to-cart-container">
                        <button class="add-to-cart btn">
                          <span>Add To Cart</span>
                        </button>
                      </div>
                    </div> 
                    {% empty %}
                    <h2 id="fallback-result" align="center">Sorry, No Product found related to {{search_item}} Category</h2>
      {% endfor%}		
    </div>
	</div>

{% endblock content %}

{%block scripts%}
      <script src="{% static 'js/priceSlider.js'%}"></script>
      <script src="{% static 'js/displayFilters.js'%}"></script>
      <script src="{% static 'js/sidefilter.js'%}"></script>

{%endblock%}